<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Matrícula</th>
      <th>UUID</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @students %>
  </tbody>
</table>
