<div class="title-section-container">
  <div>
    <i class="fa fa-reddit-alien" aria-hidden="true"></i>
    Estudiantes
  </div>
</div>

<%= render "indextable" %>

<%= link_to new_student_path, class: "button-container" do%>
  <i class="fa fa-plus"></i>
  <div>Agregar nuevo alumno</div>
<% end %>
