<div class="title-section-container">
  <div>
    <i class="fa fa-reddit-alien" aria-hidden="true"></i>
    Estudiantes
  </div>
</div>

<%= render "indextable" %>
<%= link_to "Volver", students_menu_path %>
