<div class="title-section-container">
  <div>
    <i class="fa fa-pencil" aria-hidden="true"></i>
    Editar al usuario: <%= @user.name %> <%= @user.last_name %>
  </div>
</div>

<%= render 'form' %>
