<div class="title-section-container">
  <div>
    <i class="fa fa-users" aria-hidden="true"></i>
    Usuarios
  </div>
</div>
  <%= render "indextable" %>
  <%= link_to "Nuevo Usuario", new_user_path %>
