<div class="title-section-container">
  <div>
    <i class="fa fa-user" aria-hidden="true"></i>
    Hola <%= current_user.name.capitalize %>
  </div>
</div>
<div class="subtitle-container">
  <div>Tus clases son: </div>
</div>
<%= render 'statics/user_lessons' %>

<%= link_to "Agregar nueva clase", new_lesson_path, class: "fa fa-plus"%>
