<div class="title-section-container">
  <div>
    <i class="fa fa-folder-open" aria-hidden="true"></i>
    Clases
  </div>
</div>
<p>
  <%= link_to "Ver classes", lessons_path %>
</p>

<p>
  <%= link_to "Agregar nueva clase", new_lesson_path %>
</p>
