<div class="title-section-container">
  <div>
    <i class="fa fa-reddit-alien" aria-hidden="true"></i>
    Alumnos
  </div>
</div>

<p>
  <%= link_to "Ver alumnos", students_path %>
</p>

<p>
  <%= link_to "Agregar nuevo alumno", new_student_path %>
</p>
