<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Hora</th>
      <th>Salon</th>
      <th>Maestro</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @lessons %>
  </tbody>
</table>
