<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Hora</th>
      <th>Salon</th>
      <th>User_id</th>
    </tr>
  </thead>
  <tbody>
    <%= render @lessons %>
  </tbody>
</table>
