<div class="title-section-container">
  <div>
    <i class="fa fa-folder-open" aria-hidden="true"></i>
    Clases
  </div>
</div>
<%= render "indextable" %>
<%= link_to "Volver", lessons_menu_path %>
