$mainGray: #333333;
$secondaryGray: #001eff;

$menuTitleBackground: gray;
$menuOptionBackground: #444444;
$menuOptionBackgroundHover: #555555;
$menuOptionColor: #fefefe;
$menuOptionColorHover: #d0d0d0;

$tableLinkGray: gray;
