.sidebar {
   position: relative;
   height: 100vh;
   width: 13%;
   border: 1px solid black;
   z-index:1;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

#application-yield-container{
  margin-left: 14%;
}

#user-sidebar-options{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10% 0%;
}

#sidebar-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu-item{
  margin: 10% 0%;
}
