<div class='sidebar navbar navbar-brand'>
   <b class="text-center"><%= current_user.name.capitalize %></b>
  <div class="" id="user-sidebar-options">
    <i class="fa fa-user" aria-hidden="true"></i>
    <%= link_to(destroy_user_session_path, :method => :delete) do %>
    <i class="fa fa-sign-out" aria-hidden="true"></i>
    <% end %>
  </div>

  <div class="" id="sidebar-menu">
    <%= link_to "Usuarios", users_path, class: "sidebar-menu-item"%>
    <a href="#" class="sidebar-menu-item">Clases</a>
    <a href="#" class="sidebar-menu-item">Alumnos</a>
  </div>
</div>
